.header {
        /* The image used */
        /*background-image: url("../img/herovector.png");  
        background-size: 100%;    */      
        height: 100vh;       
        /* Create the parallax scrolling effect */
        /*background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;*/
        z-index: -1;
}

.fullpage {
    min-height: 100vh;
}

#menu-navbar {
    margin-left:70vw;
}


#header-desc {
    width: 35vw;
    position: absolute;
    bottom:10vw;
    left:5vw;
    /*box-shadow: 0 9px 30px 3px rgba(0,0,0,.46);*/
}

#header-desc-text {    
    background-color: rgba(250, 250, 250, 0.65);
    padding: 1rem;
}

#header-logo-big {    
    position: absolute;
    background-image: url("../img/chairs.png");     
    background-repeat: no-repeat;
    background-size: 65%;    
    background-position-y: bottom;
    background-position-x: 33vw;
    width: 98vw;
    height: 110vh;
}  

#header-mountains {
    position: absolute;
    top: 10vh;
    background-image: url("../img/herovector2.png");     
    background-repeat: no-repeat;
    background-size: 100%;    
    background-position-y: bottom;
    background-position-x: center;
    width: 100%;
    height: 100vh;
}

#header-logo-big2 {    
    background-image: url("../img/logo.png");     
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-y: 2rem;
    background-position-x: center;
    position:absolute;
    top:0px;
    width: 98vw;
    height: 100vh;
    /*visibility: hidden;*/
}

#header-bg-filler {
    background-color: rgb(35,64,107);
    position: absolute;
    top:102vh;
    padding-bottom:5rem;
    padding-left:5rem;
    padding-right:5rem;
    padding-top:2rem;
}

#products-container {
    padding-top:3vh;
}

#product-container {
    background-color: rgba(250, 250, 250, 0.6);
}

#product-modal-desc {
    max-width: 80vw;
}

/*https://codemyui.com/animated-material-design-navigation-concept/*/


.sliding-background {
    background: url("../img/sky2.jpg") repeat-x;
    position:absolute;
    top:0;
    height: 80vh;
    width: 5076px;
    animation: slide 120s linear infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0);
    }
  }