.header {
        /* The image used */
        background-image: url("../img/hero2.png");            
        height: 100vh;       
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
}


#topmenu {
    width:400px;
    position: absolute;
    right:5rem;
}

#header-desc {
    width: 35vw;
    position: absolute;
    bottom:10vw;
    left:5vw;
}

#header-desc-text {    
    background-color: rgba(250, 250, 250, 0.65);
    padding: 1rem;
}

#header-logo-big {    
    background-image: url("../img/logo.png");     
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-y: 10rem;
    background-position-x: center;
    width: 100vw;
    height: 100vh;
}