<section class="fullpage">


<div id="home-container">

        <div id="home-nordhold-logo-container">
            <div id="home-nordhold-logo"></div>
        </div>                        
            
            
        <div id="header-desc">            
                <p id="header-desc-text-big">Komfort, Wydajność, Design  </p>
            <p id="header-desc-text">                
                Fotele Nordhold powstały specjalnie z myślą o osobach spędzających codziennie długie godziny przed komputerem. 
                Wiele opcji regulacji pozwoli dostosować fotel do swoich wymagań, tak abyście mogli wygodnie usiąść oraz odciążyć plecy od kilkugodzinnego siedzenia. 
                Odpowiednia pozycja może mieć wielki wpływ na jakość pracy oraz osiągnięcia uzyskiwane w grach. 
                W dobie gdy każda milisekunda różnicy w pingu oraz klatka w grze jest na wagę złota często zapominamy o czynniku ludzkim, czyli o Nas.                
            </p>                          
        </div>                 
</div>

<div id="home-chairs-container">
    <div id="home-chairs"></div>  
</div>  

<script src="../js/text.js"></script>

</section>