<!-- MENU -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark mr-sm-2 blue" id="menu-navbar">    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>    
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active mr-sm-2" >
                <a class="nav-link nh-menu" href="#" id="nav-home" onclick="navGoTo(this)">Nordhold</a>
                </li>       
                
                <li class="nav-item">                    
                <a class="nav-link nh-menu" href="#" id="nav-products" onclick="navGoTo(this)">Fotele</a>
                </li>                                             

                <li class="nav-item">
                <a class="nav-link nh-menu" href="#" id="nav-articles" onclick="navGoTo(this)">Porady</a>
                </li>
    
                <li class="nav-item">
                <a class="nav-link nh-menu" href="#" id="nav-faq" onclick="navGoTo(this)">FAQ</a>
                </li>
    
                <li class="nav-item">
                <a class="nav-link nh-menu" href="#" id="nav-contact" onclick="navGoTo(this)">Kontakt</a>
                </li>               

            </ul>
        </div>
</nav>

